<div class="container_big-card">
    <div class="big-card_photo" >
        <img src="https://th.bing.com/th/id/OIP.Kn-72QDi-ubnRhmePgLgUQHaE8?pid=ImgDet&rs=1" 
            height="250px" 
            alt="imagem ilustrativa">
    </div>
    <div class="big-card_title" >
        <h1><a href="#" >Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card_description" >
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque totam illum soluta ipsa error dolorem eligendi ad quos dignissimos quibusdam nisi ut quam officiis veritatis commodi aut, facere ipsum laudantium.</p>
    </div>
</div>