

<app-menu-title></app-menu-title>

<div class="container_articles" >
    <div class="articles_main">
        <app-big-card 
        id="1"
        photoCover="https://th.bing.com/th/id/OIP.lC__MSWQaAgpCBGQTwZg_wHaEo?pid=ImgDet&rs=1"
        cardTitle="Bioshock 4 é anunciado"
        cardDescription="De acordo com a equipe de desenvolvimento da 2k o próximo titulo da franquia bioshock está em desenvolvimento, este titulo será desenvolvido por uma nova equipe chamada 'Cloud Chamber' e contará com o escritor de far cry 5 e ghost of tsushima"
         ></app-big-card>
    </div>
    <div class="articles_othes">
        <app-small-card
        id="2"
        photoCover="https://th.bing.com/th/id/OIP.sk9QfHCD2-68cEOwFDvk6QHaEK?pid=ImgDet&rs=1"
        cardTitle="Bioshock uma masterpeace"
        ></app-small-card>

        <app-small-card
        id="3"
        photoCover="https://th.bing.com/th/id/R.4f40d7cc28ca0d9b5d3f41187279b737?rik=KfQ4l7aHynJ20w&pid=ImgRaw&r=0"
        cardTitle="Bioshock 2, uma história de pai e filha"
        ></app-small-card>
        <app-small-card
        id='4'
        photoCover="https://th.bing.com/th/id/R.37b0b53287e4b5723eccfe06ad821362?rik=9%2fjANt4n1LpOUQ&pid=ImgRaw&r=0"
        cardTitle="Bioshock inifinite e suas infinitas posibilidades"
        ></app-small-card>
    </div>
</div>
