
.container_menu-bar > ul{
    display: flex;
    flex-direction: row;
}

.container_menu-bar > ul > li{
    margin-right: 20px ;
    list-style: none;
}

.container_menu-bar {
    height: 60px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
}

