/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #111111;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

hr{
    height:0;
    margin: 0 auto;
    border: 0;
    border-top: 1px solid #333333;
}

header{
    margin-top: 15px;

    display: flex;
    justify-content: center;
    
}

/* width */
::-webkit-scrollbar {
  width: 7.5px;
 
}

/* Track */
::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}